{% extends "base.html" %}
{% include 'navbar.html' %}
{% load static %}
{% block style %}
<style>
  /* Form Container */
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  /* Form Styles */
  .custom-form {
    display: flex;
    flex-direction: column;
  }

  .custom-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .custom-form input[type="text"],
  .custom-form input[type="number"],
  .custom-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }
</style>

{% endblock style %}
{% block content %}

<div class="form-container">
  <h1>{{ formname }} Form</h1>

  <form action="" method="POST" enctype="multipart/form-data" class="custom-form">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="submit-button">Update</button>
  </form>
</div>


{% endblock content %}
