{% extends "base.html" %} 
{% block style %}

<style>
  /* Basic Styles */
  .container {
    margin: 20px;
  }

  h1 {
    font-size: 24px;
    margin: 0 0 20px;
  }

  .search-bar {
    margin-bottom: 20px;
  }

  .search-bar input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .item-list {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Three items per row */
    box-sizing: border-box;
  }

  .item-image img {
    max-width: 100%;
    height: auto;
  }

  .item-details {
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;
    margin: 0;
  }

  .item-description {
    font-size: 16px;
    margin: 5px 0;
  }

  .item-price {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
  }

  .item-availability {
    margin: 5px 0;
  }

  .view-product-link {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  .view-product-link:hover {
    background-color: #0056b3;
  }
</style>

{% endblock style %}
{% block content %}
{% include 'navbar.html' %}
  <div class="container">
    <h1>Welcome to Our Food Delivery Service</h1>
    <div class="search-bar">
      <form action="" method="GET">
        <input type="text" name="selecteditem" id="selecteditem" placeholder="Search for dishes...">
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="item-list">
      {% for item in items %}
        <div class="item">
          <div class="item-image">
            {% if item.item_image.url %}
              <img src="{{ item.item_image.url }}" alt="{{ item.name }}">
            {% else %}
              <img src="" alt="Item image not available">
            {% endif %}
          </div>
          <div class="item-details">
            <h2>{{ item.name }}</h2>
            <p class="item-description">{{ item.description }}</p>
            <p class="item-price">$ {{ item.price }}</p>
            <p class="item-availability">
              Availability: {% if item.is_available %} Yes {% else %} No {% endif %}
            </p>
          </div>
          <a href="{% url 'moms:product' item.id %}" class="view-product-link">View Product</a>
        </div>
      {% empty %}
        <p>No items found.</p>
      {% endfor %}
    </div>
  </div>

  <script>
    function available_check(is_available) {
      if (is_available) {
        return "yes";
      } else {
        return "no";
      }
    }
  </script>
  {% endblock content %}
</div>
