{% extends 'base.html' %}

{% block style %}

<style>
  /* Basic Styles */
  .container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
  }

  .profile {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
  }

  .profile-details {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
  }

  p {
    font-size: 16px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .profile-links a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 5px;
  }

  .menu h1 {
    font-size: 20px;
    margin-top: 20px;
  }

  .menu-item {
    margin-top: 10px;
  }

  .menu-item a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
  }
</style>

{% endblock style %}


{% block content %}
  {% include 'navbar.html' %}

  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tag }} m-2" id='msg' role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <div class="profile">
      <h2>Profile Page {{ name }}</h2>
      <div class="profile-details">
        <p>Kitchen Name: {{ mom.kitchen_name }}</p>
        <p>Email: {{ mom.email }}</p>
        <p>Address: {{ mom.address }}</p>
        <p>Phone: {{ mom.phone_number }}</p>

        {% if mom.profile.url %}
          <img src="{{ mom.profile.url }}" alt="Profile" width="100px" height="150px">
        {% endif %}
        
        <div class="profile-links">
          <a href="{% url 'moms:updateprofile' mom.id %}">Update</a>
          <a href="{% url 'moms:deleteprofile' %}">Delete</a>
          <a href="{% url 'moms:logout' %}">Logout</a>
          <a href="{% url 'moms:notify_mom' %}">Notify Mom</a>
          <a href="http://facebook.com">Facebook</a>
          <a href="http://instagram.com">Instagram</a>
        </div>
      </div>
    </div>

    <div class="menu">
      <h1>Menu Page</h1>
      <div class="menu-items">
        {% for menu in menus %}
          <div class="menu-item">
            <p>Mom's Name: {{ menu.moms }}</p>
            <p>Menu Name: {{ menu.name }}</p>
            <p>Description: {{ menu.description }}</p>
            <p>Item Count: {{ menu.num_item }}</p>
            <a href="{% url 'moms:menuview' mom.id menu.id %}">Items View</a>
            <a href="{% url 'moms:menuupdate' menu.id %}">Menu Update View</a>
            <a href="{% url 'moms:menudelete' menu.id %}">Menu Delete View</a>
          </div>
          <hr />
        {% endfor %}
      </div>
      <a href="{% url 'moms:menu' %}">Create New Menu</a>
      <a href="{% url 'moms:menuitems' %}">Create New Menu Item</a>
    </div>
  </div>

{% endblock content %}
